{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

    {% if particle.title %}<h2 class="g-title">{{ particle.title|raw }}</h2>{% endif %}

	<div class="g-iconheadline {{ particle.class|e }}">
		<div class="g-grid">
			<div class="g-listgrid {{ particle.cols|default('g-listgrid-3cols')|e }}">
			{% for listgriditem in particle.listgriditems %}
			<div class="g-block g-listgrid-item {{ listgriditem.variation }}{{ listgriditem.class }}">
				<div class="g-content">
					<div class="g-iconheadline-item">
						<div class="g-iconheadline-icon">
							<span class="{{ listgriditem.icon }}"></span>
						</div>
						<div class="g-headline">{{ listgriditem.headline }}</div>
						<div class="g-tag">{{ listgriditem.tag }}</div>
					</div>
				</div>
			</div>
			{% endfor %}
			</div>
		</div>
		<div class="g-iconheadline-link">
			{% if particle.readmore %}<a href="{{ particle.link|e }}" class="button button-2"><span class="{{ particle.readmoreicon }}"></span>{{ particle.readmore|raw }}</a>{% endif %}
		</div>
	</div>

{% endblock %}